*
{
    margin: 0;
    padding: 0;
}
body 
{
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%) ;
    font-size:16px; 
    font-family: "Poppins", sans-serif;
}
.main-container 
{
    width:100%;
    max-width:80%;
    margin:4rem auto;
    display:flex;
    gap:1rem;
}
.text-section 
{
    max-width:50%;
    margin:6rem auto;
    color:#ffffff;
}
.text-section h2
{
    font-weight:700;
}
.text-section p 
{
    margin-top:1rem;
    font-weight:500;
    line-height: 1.5;
}
.form-section 
{
    width:100%;
    max-width:50%;
    margin:0 auto;
}
form 
{
    border-radius:0.5rem;
    padding:2rem;
    background-color: #ffffff;
    margin-top:1rem;
}
.white-bold
{
    color:#ffffff;
    font-weight:bold;
}
.white 
{
    color:#ffffff;
    background-color: #6055a5;
    border-radius:0.5rem;
    padding:1rem 2rem 1rem 2rem;
    text-align: center;
}
form p
{
    margin:0;
}
input 
{
    color: #3e3c49;
    border:2px solid  #3e3c4921;
    margin-bottom:1rem;
}
input:focus 
{
    border:2px solid blue;
}
input,
button {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box; 
  display: block;
  border-radius:0.5rem;
}
button 
{
    background-color:  #38cc8c;
    color:#ffffff;
    border:2px solid  #38cc8c;
    margin-bottom:1rem;
    font-weight:bold;
}
.red 
{
    color: #ff7a7a;

}
.grey 
{
    color:#3e3c494b;
    font-weight:500;
}
.first-name-msg , .last-name-msg , .email-msg , .password-msg
{
    font-style: italic;
    font-size:10px;
    text-align: right;
    margin-top:0;
}
.input-one , .input-two , .input-three , .input-four
{
    position:relative;
}
.input-one img , .input-two img , .input-three img , .input-four img 
{
    position:absolute;
    width:20px;
    height:20px;
    right:1rem;
    top: 50%;
    display:none;
    transform: translateY(-50%);
}
.toggle-password 
{
    position:absolute;
    right: 10px;
    cursor:pointer;
    top: 50%;
    transform: translateY(-50%);
}
#eye-img 
{
    display:block;
    font-size:18px;
}
@media (max-width:900px)
{
    .main-container 
   {
    flex-direction:column
   }
   .text-section , .form-section
   {
    max-width:100%;
   }
}
@media (min-width:768px)
{
    .main-container
    {
        width: 90%;
        max-width: 1100px;
    }
}